/*from here is the page specific content*/
#mainContent {
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 10vw;
}

.bigText {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: sono;
}

.regText {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-family: sono;
}

#solveSheet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
}

.solveItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 2vw;
}
.button {
    width: 60%;
}
.image {
    height: 200px;
    width: 200px;
}

/*Responsive phone design*/
@media screen and (max-width: 768px) {}